:root {
  --colour01: rgb(0, 0, 0);
  --colour02: rgb(255, 255, 255);
  --colour03: rgb(255, 136, 57);
  --colour04: rgba(0, 0, 225, 0.949);
  --border: inset 0.3rem var(--colour01);
}

body {
  background-color: var(--colour02);
  color: var(--colour01);
  margin: 30px;
  /* border: var(--border); */
}

h1 {
  text-align: center;
}

#cropped-image {
  display: block;
  max-width: 50%;
}

#workspace {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 150px;
  margin: 40px;
}

#inputImage {
  padding-bottom: 10px;
}

#cropButton,
#downloadButton {
  display: inline-block;
  padding-top: 10px;
}

#cropButton {
  padding-right: 2.5px;
}

#downloadButton {
  padding-left: 2.5px;
}

#cropperContainer {
  background-color: rgb(233, 233, 233);
  box-shadow: 0px 0px 0px 1.5px rgb(0, 0, 0);
  border-radius: 5px;
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: relative;
}

#croppedImage {
  max-width: 100%;
  display: block;
}

#container {
  background-color: rgb(233, 233, 233);
  width: 500px;
  height: 500px;
  /* Used Box-Shadow for outline of the container instead of "outline" and "border" 
  Because box-shadow doesn't blur the reality between what the user sees and the downloaded image
  i.e. a cropped image is unseen on user's screen when dragged to edge of the canvas
  but when downloaded, that cropped image bleeds onto the canvas*/
  box-shadow: 0px 0px 0px 1.5px rgb(0, 0, 0);
  /* outline: 2px solid var(--colour01); */
  /* border: var(--border); */
  border-radius: 5px;
  overflow: hidden;
}

.cropper-point.point-se {
  width: 5px !important;
  height: 5px !important;
}
